<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JhtNewsChannelDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A57C4ADC1D5893F500E258DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A57C4AF51D5893F600E258DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A57C4B001D5893F600E258DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
